
.vscode/

dist/
out/

.mesonpy*
meson-logs/
meson-private/


Thumbs.db
Desktop.ini
.DS_Store

*.dll
*.a
*.la
*.lib
*.so
*.dylib

subprojects/sdl2_windows/
subprojects/sdl2_image_windows/
subprojects/sdl2_mixer_windows/